// White
$bg-white: white;

// Gray
$bg-gray-light: #c9d3dd;
$bg-gray: #c1cad3;
$bg-gray-dark: #a9b1b9;
$bg-gray-darker: #8f969c;

// Black
$bg-black-light: #212121;
$bg-black-lighter: #2f2f2f;
$bg-black: #020202;

// Green
$bg-green-light: #2cc76a;
$bg-green: #16db65;
$bg-green-dark: #24a557;

// Purple
$bg-purple-light: #474895;
$bg-purple: #414288;
$bg-purple-dark: #363772;

// Red
$bg-red-light: #d9444e;
$bg-red: #df2935;
$bg-red-dark: #d71320;

// Yellow
$bg-yellow-light: #fdd566;
$bg-yellow: #fdca40;
$bg-yellow-dark: #fec527;
